header{
    > * {
        display: inline;
    }
}

section{
    text-align: center;
    p{ font-family: "Audiowide", sans-serif; font-weight: 400; font-size: 20px; color: #ffffff; padding: 0 0 40px 0; }
    .buttonsList{
        display: flex; flex-direction: column; align-items: center;
        > *{
            margin-bottom: 10px;
        }
    }
}

input{
    font-family: "Audiowide", sans-serif; font-weight: 400; font-size: 20px; cursor: pointer; transition: all .1s;
    border: 2px solid #293438; padding: 0 25px; color: #d1effd; height: 60px;
    background: transparent; background: #386c81; width: 55%;
    &:hover, &:active, &:focus{
        background: #d1effd; color: #293438; font-size: 24px;
    }
    
}
form{
        padding: 50px;
        label{
            font-family: "Audiowide", sans-serif; font-weight: 400; text-align: right; font-size: 20px; line-height: 100%; padding: 0 0 0 0; margin: 0 30px 30px; display: inline-block; width: 20%; color: #fff;
        }
        input{
            /* font-size: 30px; font-weight: 600; border-radius: 15px; padding: 10px; width: calc(100% - 350px); */
        }
    }
